<h1>Showing TODO</h1>

<p>
  name: <%= @todo.name %>
</p>
<p>
  description: <%= @todo.description %>
</p>

<%= link_to "Edit This TODO", edit_todo_path(@todo) %>
<%= link_to "Back to TODO Listing", todos_path %>
